<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kursach.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Kursach.Properties.Settings>
            <setting name="MainWindowGlobalTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="ActsReaderGlobalTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="CharactersGlobalTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="FactionsViewGlobalTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="LocationViewGlobalTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="CollectablesMapsGlobalTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="MusicPlayerGlobalTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="DatesGlobalTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="MiniGamesGlobalTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="MissionsGlobalTime" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="isMusicPlaying" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isSSplaying" serializeAs="String">
                <value>False</value>
            </setting>
        </Kursach.Properties.Settings>
    </userSettings>
</configuration>